<html ng-app="attendance">
<head>
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/index.js"></script>
</head>
<body ng-controller="attendanceCtrl as ctrl">

<div class="mydiv">
<h3 style="" class="myHeader">ATTENDANCE</h3><hr /><br />
    <select ng-model="ctrl.obj.name" class="form-control">
    <option selected>Select Name</option>
    <option value="Bunmi">Bunmi</option>
    <option value="Grace">Grace</option>
    <option value="Joseph">Joseph</option>
    <option value="Mariam">Mariam</option>
    <option value="Moses">Moses</option>
    <option value="Silvia">Silvia</option>
    <option value="Toju">Toju</option>
    </select><br />
    <input ng-click="ctrl.submit()" style="background-color:#638FA1; color:white" class="form-control" type="button" value="IN" /><hr />
    <p ng-cloak style="text-align:center;color:blue">{{ctrl.status}}</p>
<!--    <input ng-click="ctrl.checkout()" style="background-color:#f77; border-color:aqua" class="form-control" type="button" value="Check Out" /><hr />-->

</div>
    
    

<div class="align container">
<!--  <h2>Fading Modal</h2>-->

  <!-- Button to Open the Modal -->
  <a type="button" class="btn btn-primary" href="/admin">
      CLOCK OUT
  </a>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Admin Validation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
         <p style="color:red">{{ctrl.message}}</p> 
        
        <!-- Modal body -->
        <div class="modal-body">
        <input ng-model="ctrl.code" class="form-control" type="text" placeholder="What's the password?" />
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button ng-click="ctrl.redirect()" type="button" class="btn btn-primary">Send</button>
<!--          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
        </div>
        
      </div>
    </div>
  </div>
  
</div>

</body>
</html>
